/* Estilo geral */
body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(140deg, #24022b, #250436, #000000);
  color: white;
  position: relative;
  z-index: 0;
  background-size:500% 100%;
  animation: fundo-animado 5s infinite alternate
}
@keyframes fundo-animado{
  0%{
    background-position-x:0%;
  }
  100%{
     background-position-x:100%;
  
  }
}

/* Texto inicial */
.text {
  text-align: left;
  padding: 2rem;
  position: relative;
  top: 200px;
}

.text p {
  font-size: 1.2rem;
}

/* Imagem principal */
.img {
  position: relative;
  left: 75rem;
  border-radius: 50%;
  margin-top: 1rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}

/* Seção de projetos */
.projetos {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 2rem auto;
  box-shadow: none;
}

.caixa-video {
  display: block;
  margin: auto;
  width: 32rem;
  height: 32rem;
  position: relative;
  border-radius: 10px;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  background: linear-gradient( 130deg, rgba(57, 20, 59, 0.9), rgba(18, 3, 19, 0.8) );
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease;
   background-size:500% 100%;
  animation: fundo-animado 3s infinite alternate;
  border:solid #3a0766 1px;
  box-shadow: #000000 1 1;
}

.caixa-video img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: block;
}

.caixa-video p {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 1rem;
  bottom: 2rem;
}

.caixa-video:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(138, 10, 189, 0.15);
  border:solid #8a2be2 1px ;
}

/* Título seção projetos */
.secao-projeto {
  position: relative;
  text-align: center;
  font-size: 2rem;
}

.secao-projeto::after {
  content: '';
  position: absolute;
  left:46rem;
  bottom: -15px;
  width: 100px;
  height: 4px;
  background-color: #8a2be2;
}

/* Container central */
.container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ícones */
.icones {
  display: flex;
  position: relative;
  top: 10rem;
}

/* Habilidades */
.grade h3 {
  font-size: larger;
  position: relative;
  left: 2rem;
  right: 0;
}

/* Sobre mim */
.titulo-sobre{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  position: relative;
  text-align: center;
}

.titulo-sobre::after {
  content: '';
  position: absolute;
  left: 45rem;
  bottom: -15px;
  width: 100px;
  height: 4px;
  background-color: #8a2be2;
}

.caixa-sobre p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  position: relative;
  bottom: 2rem;
}

/* Linguagens usadas no projeto */
.linguagem {
  display: flex;
  gap: 0.5rem;               /* controla o espaço entre os textos */
  position: relative;
  border: 1px solid rgba(138, 43, 226, 0.4);
  border-radius: 1rem;
  background: rgba(77, 8, 94, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(138, 43, 226, 0.15);
  width:4.5rem;
  height:2rem;
  align-items: center;
  justify-items: center;
  left:0.5rem;
  margin-left:1rem;
}

.lg {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top:2px;
  bottom:3px;
  color: #ffffff;
  font-size:15px;
  margin-left:5px;

}
.cst{
   font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top:2px;
  margin-left:0.3rem;
  bottom:2px;
  color: #ffffff;
  font-size:15px;
}
.linguagem:hover{
  background-color: #7510d3;
}
.linguagem2:hover{
  background-color: #7510d3;
}


/* Botões */
.botoes p {
  display: flex;
}

.linguagem2 {
  display: flex;               /* controla o espaço entre os textos */
  position: relative;
  border: 1px solid rgba(138, 43, 226, 0.4);
  border-radius: 1rem;
  background: rgba(77, 8, 94, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(120, 26, 207, 0.15);
  width:4.5rem;
  height:2rem;
  align-items: center;
  justify-items: center;
  left:7rem;
  bottom:2.2rem;
}
.caixa-sobre {
  display: block;
  margin: auto;
  width: 50rem;
  height: 10rem;
  position: relative;
  border-radius: 10px;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  background: linear-gradient( 130deg, rgba(57, 20, 59, 0.9), rgba(18, 3, 19, 0.8) );
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease;
   background-size:500% 100%;
  animation: fundo-animado 3s infinite alternate;
  border:solid #3a0766 1px;
  box-shadow: #000000 1 1;
}
.sobre{
  text-align:center;
  position: relative;
  top:3.5rem;
}
.caixa-sobre:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(138, 10, 189, 0.15);
  border:solid #8a2be2 1px ;
}
.grade::after {
  content: '';
  position: absolute;
  left: 44.9rem;
  bottom:12rem;
  width: 100px;
  height: 4px;
  background-color: #8a2be2;
}
.skill{
  text-align: center;
  position: relative;

}
.skill::after {
  content: '';
  position: absolute;
  left: 44.9rem;
  width: 100px;
  height: 4px;
  right:1rem;
  background-color: #8a2be2;
}
.grade{
   display: block;
  margin: auto;
  width: 39rem;
  height: 26rem;
  position: relative;
  border-radius: 10px;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  background: linear-gradient( 130deg, rgba(57, 20, 59, 0.9), rgba(18, 3, 19, 0.8) );
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease;
   background-size:500% 100%;
  animation: fundo-animado 3s infinite alternate;
  border:solid #3a0766 1px;
  box-shadow: #000000 1 1;
  margin-top:6.1rem;  
  gap:1rem;
}
.grade:hover{
    transform: scale(1.05);
  box-shadow: 0 0 30px rgba(138, 10, 189, 0.15);
  border:solid #8a2be2 1px ;
}
.icone1{
   display: flex;
  gap: 3rem;               /* controla o espaço entre os textos */
  position: relative;
  border: 1px solid rgba(138, 43, 226, 0.4);
  border-radius: 1rem;
  background: rgba(77, 8, 94, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(138, 43, 226, 0.15);
  width:35rem;
  height:5rem;
  align-items: center;
  justify-items: center;
  left:1.5rem;
  margin-left:1rem;
  top:3rem
}
 .linha {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
.skill-name{
  margin-bottom: 0.5rem;
  font-weight: bold;
  position: relative;
  left:1px;
  top:5px

  
}
.bar{
  background-color: #333;
  height:10px;
  width: 23rem;
  border-radius: 5px;
  position: relative;
  
  
  
}
.bar-fill{
  background: #6a0dad;
  height: 100%;
  border-radius: 5px;
  width:60%;
  position: relative;
  transition: width 0.5s ease;
}
.percent{
  position:relative;
  bottom:5px;
  left:24rem;
  
}

.corh {
  filter: brightness(0) saturate(100%) invert(39%) sepia(92%) saturate(734%) hue-rotate(255deg) brightness(99%) contrast(101%);
  position: relative;
  left:0.5rem;
}
.icone1{
   display: flex;
  gap: 0.5rem;               /* controla o espaço entre os textos */
  position: relative;
  border: 1px solid rgba(138, 43, 226, 0.4);
  border-radius: 1rem;
  background: rgba(77, 8, 94, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(138, 43, 226, 0.15);
  width:35rem;
  height:5rem;
  align-items: center;
  justify-items: center;
  left:1.5rem;
  margin-left:1rem;
  top:3rem
}

.icone1:hover{
   transform: scale(1.05);
  box-shadow: 0 0 30px rgba(138, 10, 189, 0.15);
  border:solid #8a2be2 1px ;
}
.icone1 {
  display: flex;
  gap: 1.1rem; 
  margin: 1rem 0;
}
.ex{
    position:relative;
  bottom:5px;
  left:23rem;
}

.contato-titulo h4{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.contato-titulo::after{
  content: '';
  position: absolute;
  left:45rem;
  bottom:4rem;
  width: 100px;
  height: 4px;
  background-color: #8a2be2;
}
.cor-i{
  filter: brightness(0) saturate(100%) invert(39%) sepia(92%) saturate(734%) hue-rotate(255deg) brightness(99%) contrast(101%);
  position: relative;
  display: flex;
  left:46rem;
  gap: 2rem; 
  margin-top:2rem 0;
  margin-bottom:4rem;
}
